body, html
  margin-top: 0px

div.tooltip
  position: absolute
  text-align: center
  width: 60px
  height: 16px
  padding: 2px
  font: 12px sans-serif
  background: white
  color: black
  border: 0px
  border-radius: 4px
  pointer-events: none

#visualization

  svg#map
    path:hover
    	fill-opacity: .7
