doctype html

html(lang='en')
  head
    meta(charset='utf-8')
    title Simple Site
    link(rel='stylesheet' type='text/css' href='css/style.css')
    link(rel='shortcut icon' href='assets/img/acme.jpg' type='image/jpeg')
    link(rel='icon' href='assets/img/acme.jpg' type='image/jpeg')
  body

    div#visualization
      ul#mapChoices
      svg#map
      div#voterData


    script(type='text/javascript', src='js/bundle.js')
